<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../StyleSheets/AddAssignment.css">
        <title>Add Assignment</title>
        <span class="version">Version 1.0</span>
    </head>
    <body>
        <h1>Add Assignment</h1>

        <form id="formUserDetails" action= "/addassignment" method="POST" >
            <div class="container">
                <input type="text" placeholder="Enter Course" name="course" id="course" required><br/>
                <input type="text" placeholder="Enter Assignment" name="assignment" id="assignment" required><br/>
                <input type="text" placeholder="Enter Year" name="yr" id="yr" required><br/>
                <input type="text" placeholder="Enter Month" name="mnth" id="mnth" required><br/>
                <input type="text" placeholder="Enter Day" name="day" id="day" required><br/>
        </div>
              <button type="submit" class="btn" id="submit">Submit</button>
              <span class="back"><a href="/views/Home.ejs">Back</a></span>
            </div>
        </div>
    </body>
</html>
